<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>rdfvizler</display-name>
  <servlet>
    <servlet-name>rdfvizler</servlet-name>
    <servlet-class>xyz.dyreriket.sau.ui.servlet.RDFVizlerServlet</servlet-class>
    <init-param>
      <param-name>DotExec</param-name>
      <param-value>/usr/bin/dot</param-value>
    </init-param>
    <init-param>
      <param-name>MaxInput</param-name>
      <param-value>300000</param-value>
    </init-param>
    <init-param>
      <param-name>DefaultRules</param-name>
      <param-value>https://mgskjaeveland.github.io/rdfvizler/rules/rdf.jrule</param-value>
    </init-param>
    <init-param>
      <param-name>DefaultFormatRDF</param-name>
      <param-value>TTL</param-value>
    </init-param>
    <init-param>
      <param-name>DefaultFormatDot</param-name>
      <param-value>svg</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>rdfvizler</servlet-name>
    <url-pattern>/dot/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>